.result.safe {
    background: linear-gradient(90deg, #45ba76, #66b137);
}

.result.danger {
    background: linear-gradient(90deg, #c14646, #da803b);
}
form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
